/*------ BOXES -------------------------------------------------*/

html{
    background-color: #004d1a;
    background-image: url(https://pp.userapi.com/c618116/v618116629/58bd/qMPdB5MzOwk.jpg) ;
    background-blend-mode:luminosity;
}

.wrapper{
    max-width:1100px;
    margin:0 auto;
}

.container{
    max-width:750px;
    margin:0 auto;
    padding-bottom:30px;
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-radius:22px;
    background: silver; /* For browsers that do not support gradients */
 /* For Safari 5.1 to 6.0 */
 background: -webkit-linear-gradient(left,gray, silver, gray);
 /* For Opera 11.1 to 12.0 */
 background: -o-linear-gradient(left,gray, silver, gray);
 /* For Fx 3.6 to 15 */
 background: -moz-linear-gradient(left,gray, silver, gray);
 /* Standard syntax */
 background: linear-gradient(to right, gray, silver, gray);
}

.sidebar{
    height:100vh;
    width:150px;
    background-color:red;
    position:fixed;
    top:0;
    right:-900;
    transition: right .5s ease;
}

.holder{


}

/*------ MOVE -------------------------------------------------*/

.menu:hover + .sidebar{
    right:0;

}

.sidebar:hover{
    right:0;
}



/*------ Nav CONTAINER -------------------------------------------------*/

.container ul  {
    list-style: none;
    margin:0 auto;
    margin-bottom:20px;
    max-width:600px;
    overflow:hidden;
    background-color:#33cc00;
}

.container li {
    float:left;
    max-width:400px;
    border-right: 1px solid #bbb;
}


.container li a {
    display:block;
    color:#004d1a;
    text-align:center;
    padding-left:30px;
    padding: 8px 20px 8px 20px;
    text-decoration:none;
    font-family: 'Bree Serif', serif;
}

.container li a:hover:not(.active) {
    background-color: #66ff33;
}

.container li a.active {
    color: #004d1a;
    background-color: #66ff33;
}

.container li:last-child {
    border-right: none;
}

/*------ Nav SIDEBAR -------------------------------------------------*/


.sidebar ul  {
    list-style: none;
    overflow:hidden;
    max-width:140px;
    margin-top:60px;

}

.sidebar li {

    margin-bottom:10px;
    padding-right:30px;

}

.sidebar li a {
    background-color:#800000;
    font-family: 'Bree Serif', serif;
    padding-left:20px;
    padding-right:90px;
    margin-left:-20px;
    color:white;
    text-decoration:none;

}

.sidebar li a:hover:not(.active) {
    background-color: #ff9999;
    color:black;
}


.sidebar li a.active {
    color: white;
    background-color: #ff9999;
}


/*------ TEXT / FONT -------------------------------------------------*/

h1 {
    font-size:4em;
    color: #ccffcc;
    text-shadow: 1px 1px 2px black, 0 0 25px #004d1a, 0 0 5px lime;
    font-style:italic;
    text-align:center;
    font-family: 'Bree Serif', serif;
}

p{
    max-width:500px;
    margin:0 auto;
    margin-bottom:20px;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size:18px;
    line-height:22px;
}

.menu {
    color:white;
    text-align:center;
    font-family: Gill Sans Extrabold, sans-serif;
    position: fixed;
    top:0;
    right:30px;
    margin-bottom: 80px;
    z-index:1;
}

#thingy{
    font-size:30px;
    color: red;
}


/*------ IMAGES -------------------------------------------------*/


.menu_2 {
    background-image: url(http://www.hiadel.sk/cms/images/menu_icon.png);
    width:90px;
    height: 90px;
    position:fixed;
    top:0;
    right:20;
}

img{
    max-width:500px;
    width:100%;
    height:auto;
    margin:0 auto;
    display:block;
}

.lgm {
    max-width: 400px;
    width:100%;
    height:auto;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
    display:block;
}

/*------ FORMS -------------------------------------------------*/


form > input{
    background-color: red;
}
